@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
}

.newsBox {
  @apply bg-white rounded-lg shadow-lg;
}

.heading {
  @apply text-gray-800 font-bold cursor-pointer;
}

.postBody {
  @apply text-gray-600 text-sm;
}
.rc-rate-star-half .rc-rate-star-first,
.rc-rate-star-full .rc-rate-star-second {
  color: #2db783 !important;
}
.mapboxgl-ctrl-attrib-inner {
  display: none;
}
.title {
  @apply text-gray-900 font-bold;
}
.businessBody {
  @apply text-gray-500;
}
.contact {
  @apply border-2 px-4 py-1 text-gray-500 border-gray-500 rounded-md w-1/2 text-center;
}
.outline {
  @apply focus:outline-none focus:ring focus:border-blue rounded;
}
.formTitle {
  @apply text-gray-800 font-bold mb-2;
}

#editor-js {
  /* margin: 100px;
  padding: 0;
  font: 18px / 1.375 georgia, serif;
  background: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  color: #444;

  padding: 100px 50px; */

  /* a {
    color: royalBlue;
    text-decoration: none;
    border-bottom: 1px solid #eee;
  } */
}

/* h1.ce-header {
  font-size: 175%;
}
h2.ce-header {
  text-transform: uppercase;
  margin-top: 2em;
  letter-spacing: 1px;
  font-size: 90%;
}
.cdx-list {
  margin-left: 0;
  padding-left: 0;
} */
